@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(39, 37, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.to-do-container {
  background-color: black;
  color: white;
  text-align: center;
  width: 90vh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  margin: 50px auto;
}
.to-do-head {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin-bottom: 25px;
  border: 3px solid white;
  border-radius: 16px;
  width: 40%;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all 0.5s ease;
}
.title:hover {
  background-color: white;
  color: black;
}
.user-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}
.user-inputs label {
  display: flex;
  gap: 10px;
}
.user-inputs input[type="text"] {
  width: 60%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 12px;
  background: transparent;
  color: white;
  font-size: 1rem;
}
.user-inputs input[type="checkbox"] {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.user-inputs button {
  padding: 10px;
  width: 90px;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}
.user-inputs button:hover {
  background: white;
  color: black;
  transform: scale(1.1);
}

.to-do-body {
  margin-top: 30px;
}
.to-do-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.to-do-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(26, 26, 26);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.done {
  border-left: 5px solid green;
}
.unDone {
  border-left: 5px solid red;
}
.to-do-item:hover {
  transform: scale(1.03);
}
.to-do-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.to-do-info h3 {
  width: 95%;
  text-align: justify;
  overflow-wrap: break-word;
}
.to-do-info p {
  font-size: 0.7rem;
}
.to-do-btns {
  display: flex;
  gap: 20px;
}
.status-btn {
  width: 120px;
  padding: 10px;
  width: 90px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.status-btn:hover {
  transform: translateY(-5px);
}
.status-btn:active {
  transform: scale(0.97);
}
.completed {
  background-color: green;
}
.in-completed {
  background-color: red;
}
.delete-btn {
  padding: 10px;
  width: 80px;
  background-color: rgb(255, 0, 0);
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.delete-btn:hover {
  background-color: rgb(141, 0, 0);
  transform: translateY(-5px);
}

@media (width<=480px) {
  .to-do-container {
    width: 40vh;
    padding: 15px;
    margin: 30px auto;
  }
  .title {
    border: 2px solid white;
    padding: 5px 7px;
    font-size: 1.1rem;
    font-weight: 600;
    width: 50%;
  }
  .user-inputs {
    gap: 15px;
    flex-direction: column;
  }
  .user-inputs label {
    gap: 8px;
    font-size: 0.8rem;
  }
  .user-inputs input[type="text"] {
    width: 95%;
    padding: 8px;
    border: 1px solid white;
    font-size: 0.7rem;
  }
  .user-inputs input[type="checkbox"] {
    height: 16px;
    width: 16px;
  }
  .user-inputs button {
    padding: 6px;
    width: 70px;
    font-size: 0.85rem;
  }
  .user-inputs button:hover {
    transform: scale(1.05);
  }
  .to-do-item {
    padding: 8px;
    overflow: hidden;
  }
  .to-do-item:hover {
    transform: scale(1.02);
  }
  .to-do-info {
    width: 70%;
    gap: 10px;
  }
  .to-do-info h3 {
    width: 95%;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    overflow-wrap: break-word;
  }
  .to-do-info p {
    font-size: 0.6rem;
    margin-top: 10px;
  }
  .to-do-btns {
    flex-direction: column;
    gap: 10px;
  }
  .status-btn {
    width: 65px;
    padding: 0px;
    height: 33px;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .status-btn:hover {
    transform: translateY(0px);
  }
  .delete-btn {
    width: 65px;
    height: 33px;
    font-size: 0.7rem;
  }
  .delete-btn:hover {
    background-color: rgb(141, 0, 0);
    transform: translateY(0px);
  }
}

@media (width>480px) and (width<=780px) {
  .to-do-container {
    width: 70vh;
    padding: 20px;
    margin: 50px auto;
  }
  .title {
    border: 2px solid white;
    padding: 5px 7px;
    font-size: 1.3rem;
    font-weight: 600;
    width: 50%;
  }
  .user-inputs {
    gap: 15px;
  }
  .user-inputs label {
    gap: 5px;
    font-size: 0.8rem;
  }
  .user-inputs input[type="text"] {
    width: 100%;
    padding: 9px;
    border: 2px solid white;
    font-size: 0.8rem;
  }
  .user-inputs input[type="checkbox"] {
    height: 16px;
    width: 16px;
  }
  .user-inputs button {
    padding: 6px;
    width: 90px;
    font-size: 0.85rem;
  }
  .user-inputs button:hover {
    transform: scale(1.05);
  }
  .to-do-item {
    padding: 5px;
    overflow: hidden;
  }
  .to-do-item:hover {
    transform: scale(1.02);
  }
  .to-do-info {
    width: 70%;
    gap: 10px;
  }
  .to-do-info h3 {
    width: 95%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    overflow-wrap: break-word;
  }
  .to-do-info p {
    font-size: 0.6rem;
  }
  .to-do-btns {
    gap: 10px;
  }
  .status-btn {
    width: 75px;
    padding: 0px;
    height: 33px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .status-btn:hover {
    transform: translateY(0px);
  }
  .delete-btn {
    width: 75px;
    height: 33px;
    font-size: 0.8rem;
  }
  .delete-btn:hover {
    background-color: rgb(141, 0, 0);
    transform: translateY(0px);
  }
}

@media (width>780px) and (width<=1024px) {
  .to-do-container {
    width: 75vh;
    padding: 20px;
    margin: 50px auto;
  }
  .title {
    border: 2px solid white;
    padding: 5px 7px;
    font-size: 1.3rem;
    font-weight: 600;
    width: 40%;
  }
  .user-inputs {
    gap: 20px;
  }
  .user-inputs label {
    gap: 5px;
    font-size: 0.8rem;
  }
  .user-inputs input[type="text"] {
    width: 100%;
    padding: 9px;
    border: 2px solid white;
    font-size: 0.8rem;
  }
  .user-inputs input[type="checkbox"] {
    height: 16px;
    width: 16px;
  }
  .user-inputs button {
    padding: 6px;
    width: 90px;
    font-size: 0.85rem;
  }
  .user-inputs button:hover {
    transform: scale(1.05);
  }
  .to-do-item {
    padding: 5px;
    overflow: hidden;
  }
  .to-do-item:hover {
    transform: scale(1.02);
  }
  .to-do-info {
    width: 70%;
    gap: 10px;
  }
  .to-do-info h3 {
    width: 95%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    overflow-wrap: break-word;
  }
  .to-do-info p {
    font-size: 0.6rem;
  }
  .to-do-btns {
    gap: 10px;
  }
  .status-btn {
    width: 75px;
    padding: 0px;
    height: 33px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .status-btn:hover {
    transform: translateY(0px);
  }
  .delete-btn {
    width: 75px;
    height: 33px;
    font-size: 0.8rem;
  }
  .delete-btn:hover {
    background-color: rgb(141, 0, 0);
    transform: translateY(0px);
  }
}

@media (width>1024px) {
  .title {
    padding: 5px 7px;
    font-size: 2.5rem;
    font-weight: 600;
    width: 60%;
  }
}
